<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./../assets/jquery-3.2.1.min.js"></script>
    <script src="./../assets/propper.js"></script>
    <script src="./../assets/bootstrap.min.js"></script>
    <script src="./../assets/wow.min.js"></script>
    <script src="./../assets/jquery.parallax-scroll.js"></script>
    <script src="./../assets/owl.carousel.min.js"></script>
    <script src="./../assets/imagesloaded.pkgd.min.js"></script>
    <script src="./../assets/isotope-min.js"></script>
    <script src="./../assets/jquery.magnific-popup.min.js"></script>
    <script src="./../assets/circle-progress.js"></script>
    <script src="./../assets/jquery.easings.min.js"></script>
    <script src="./../assets/multiscroll.responsiveExpand.min.js"></script>
    <script src="./../assets/jquery.multiscroll.extensions.min.js"></script>
    <script src="./../assets/multi.js"></script>
    <script src="./../assets/plugins.js"></script>
    <script src="./../assets/jquery.counterup.min.js"></script>
    <script src="./../assets/jquery.waypoints.min.js"></script>
    <script src="./../assets/appear.js"></script>
    <script src="./../assets/main.js"></script>
    <script src="./../assets/socket.io.js"></script>
    <script>
        const socket = io();
    </script> 
    <script src="./../socket.js"></script>
  </body>
</html>
