<%- include("./../layout/header"); -%>
    <div id="multiscroll" class="ms-section">
      <div id="left-side" class="ms-left" style="width: 50%; position: absolute; height: 100%; left: 0px; top: -1338px;">
        <div class="ms-section section_5 ms-table active" id="left5" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                
                <div class="spliet_slider_img">
                  <img
                    class="phone_one"
                    src="./../assets/iPhoneX-left.png"
                    alt=""
                  />
                  <img
                    class="phone_two"
                    src="./../assets/iPhoneX-Right.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-part" class="ms-right" style="width: 50%; position: absolute; height: 100%; right: 1px; top: -1338px;">
        <div class="ms-section section_6 ms-table active" id="right1" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="border_shap one"></div>
              <div class="border_shap two"></div>
              <div class="square four"></div>
              <div class="intro">
                <div class="split_content">
                  <h2 class="split_title">
                    NEW PASSWORD
                  </h2>
                  <form
                    action="/login"
                    class="contact_form_box"
                    method="post"
                    id="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <input
                            type="email"
                            name="password"
                            id="email"
                            placeholder="Enter New Password"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <input
                            type="text"
                            name="password"
                            placeholder="Enter Password Again"
                          />
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn_three">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include("./../layout/footer"); -%>