<%- include("./layout/header"); -%>
    <div id="multiscroll" class="ms-section">
      <div id="left-side" class="ms-left" style="width: 50%; position: absolute; height: 100%; left: 0px; top: -1338px;">
        <div class="ms-section section_1 ms-table active" id="left1" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="intro">
                <div class="split_slider_content">
                  <div class="square three"></div>
                  <div class="br_shap"></div>
                  <div class="content">
                    <h2>E-commerce platform
                      on Blockchain</h2>
                    <p>
                      100% refund on transactions on our
                      ecommerce platform. Officially launched
                      in July 2020. Be our first members.!
                    </p>
                    <% if(!user){ %>
                    <a href="/register" class="btn_get btn_hover">Register Now</a>
                    <a href="/login" class="btn_get btn_hover">Login Now</a>
                    <% }else{ %>
                    <a href="/user/gift" class="btn_get btn_hover">Your Gifts</a>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_2 ms-table" id="left2" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="intro">
                <div class="app_img">
                  <div class="square three"></div>
                  <div class="dot dot_one wow fadeIn" data-wow-delay="0.5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
                    <span class="dot1"></span><span class="dot2"></span>
                  </div>
                  <div class="dot dot_two wow fadeIn" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                    <span class="dot1"></span><span class="dot2"></span>
                  </div>
                  <div class="dot dot_three wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    <span class="dot1"></span><span class="dot2"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_3 ms-table" id="left3" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="split_content">
                  <div class="space-100"></div>
                  <h2 class="split_title">
                    The notification system
                    is fully automated by
                    BOT on Messenger
                  </h2>
                  <div class="space-100"></div>
                  <h4><i class="far fa-dot-circle"></i> &nbsp;Notification of deposit & withdrawal</h4>
                  <h4><i class="fas fa-dot-circle"></i> &nbsp;Notification of new orders </h4>
                  <h4><i class="far fa-dot-circle"></i> &nbsp;Notification of new partners </h4>
                  <h4><i class="fas fa-dot-circle"></i> &nbsp;Notification Refund </h4>
                  <h4><i class="far fa-dot-circle"></i> &nbsp;Notification of partner development
                    commission</h4>
                  <a
                    href="#"
                    class="btn btn_three s_app_btn"
                    >Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_4 ms-table" id="left4" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="intro">
                <div class="app_img">
                  <div class="square three"></div>
                  <img class="wow fadeInRight" data-wow-delay="1ms" src="./../assets/img/4.1.png" alt="" style="visibility: hidden; animation-delay: 1ms; animation-name: none;"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_5 ms-table" id="left5" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="split_content">
                  <h2 class="split_title">
                    Let's submit a request to us
                  </h2>
                  <form
                    action="http://droitthemes.com/html/saasland/contact_process.php"
                    class="contact_form_box"
                    method="post"
                    id="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <input
                            type="text"
                            name="email"
                            id="email"
                            placeholder="Your Email"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Your Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <textarea
                            name="message"
                            id="message"
                            cols="30"
                            rows="10"
                            placeholder="Enter Your Message . . ."
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn_three">
                      Send Message
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-part" class="ms-right" style="width: 50%; position: absolute; height: 100%; right: 1px; top: -1338px;">
        <div class="ms-section section_10 ms-table active" id="right5" style="background-image: -webkit-linear-gradient(40deg, rgb(103, 18, 168) 0%, rgb(95, 40, 251) 100%); height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="contact_bg"></div>
              <div class="intro">              
                <div class="spliet_slider_img">
                  <img
                      class="phone_one"
                      src="./../assets/img/4.1.png"
                      alt=""
                    />
                  <img
                    class="phone_two"
                    src="./../assets/img/1.1.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_9 ms-table" id="right4" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="app_featured_content split_app_content">
                  <h2 class="split_title">
                    100% refund on Purchases
                  </h2>
                  <p>
                    The cashback trend of shopping continues
                    to be successful. Along with the
                    development of e-commer, Cashback is
                    the global economic development trend.!
                  </p>
                  <a
                    href="#"
                    class="btn btn_three s_app_btn"
                    >Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_8 ms-table" id="right3" style="background-image: -webkit-linear-gradient(40deg, rgb(103, 18, 168) 0%, rgb(95, 40, 251) 100%); height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="border_shap one"></div>
              <div class="border_shap two"></div>
              <div class="square four"></div>
              <div class="intro">
                <div class="spliet_slider_img">
                  <img
                    class="phone_two"
                    src="./../assets/img/3.1.png"
                    alt=""
                    style="top:50px!important;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_7 ms-table" id="right2" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="app_featured_content split_app_content">
                  <h2 class="split_title">
                    Application of Blockchain
                    on refunds in e-commerce
                  </h2>
                  <p>
                    MagoMart uses the Blockchain platform
                    in order payments and relies on smart
                    contracts to process transactions. Users
                    can experience the new way of buying
                    and refunding.
                  </p>
                  <a
                    href="#"
                    class="btn btn_three btn_hover"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_6 ms-table" id="right1" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="border_shap one"></div>
              <div class="border_shap two"></div>
              <div class="square four"></div>
              <div class="intro">
                <div class="spliet_slider_img">
                  <img
                    id="img-51"
                    class="phone_two"
                    src="./../assets/img/5.1.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include("./layout/footer"); -%>

    