<%- include("./../layout/header"); -%>
    <div id="multiscroll" class="ms-section">
      <div id="left-side" class="ms-left" style="width: 50%; position: absolute; height: 100%; left: 0px; top: -1338px;">
        <div class="ms-section section_5 ms-table active" id="left5" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                
                <div class="spliet_slider_img">
                  <img
                    class="phone_two"
                    src="./../assets/img/6.1.png"
                    alt=""
                    width="600px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-part" class="ms-right" style="width: 50%; position: absolute; height: 100%; right: 1px; top: -1338px;">
        <div class="ms-section section_6 ms-table active" id="right1" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="border_shap one"></div>
              <div class="border_shap two"></div>
              <div class="square four"></div>
              <div class="intro">
                <div class="split_content">
                  <h2 class="split_title">
                    CONGRATULATION<br>
                    You receive a Gift
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include("./../layout/footer"); -%>